{% extends 'engine/base.html' %}
{% load bootstrap4 %}

{% block content %}
  <a href="{% url "endpoint_create" %}">New</a>
  <table class="table">
    <thead>
      <tr>
        <th> Endpoint </th>
        <th> Engine </th>
        <th> Stream </th>
        <th> Edit </th>
      </tr>
    </thead>
    <tbody>
      {% for obj in object_list %}
      <tr>
        <td> {{ obj.ep_id }} </td>
        <td> {{ obj.engine }} </td>
        <td> <a href="{% url "endpoint" obj.ep_id %}">view</a></td>
        <td> <a href="{% url "endpoint_edit" obj.id %}">edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
